@font-face {
    font-family: 'IMFellDWPica';
    src: url('../recursos/Letra_im_fell_dw_pica/IMFellDWPica-Regular.ttf');
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2d2b29ea;
    overflow: hidden;
}
/*SECCION DE LA BARRA DE NAVEGACION*/
body .barraNavegacion {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1A1A;
}
body .barraNavegacion .contenedorBotonesRedireccion {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body .barraNavegacion .contenedorBotonesRedireccion .btnRedireccion {
    width: 30%;
    height: 60%;
    display: flex;
    margin: 1%;
    justify-content: center;
    align-items: center;
    background-color: #FBCC02;
    border-radius: 10px;
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
body .barraNavegacion .contenedorTitulo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .barraNavegacion .contenedorTitulo .titulo {
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 60px;
    color: #FBCC02;
    text-align: center;
}
body .barraNavegacion .contenedorInfoUsuario{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body .barraNavegacion .contenedorInfoUsuario .contenedorIconoUsuario{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
body .barraNavegacion .contenedorInfoUsuario .contenedorIconoUsuario .iconoUsuario{
    object-fit: scale-down;
    width: auto;
    height: 100%;
}
body .barraNavegacion .contenedorInfoUsuario .contenedorNombreUsuario {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
body .barraNavegacion .contenedorInfoUsuario .contenedorNombreUsuario .nombreUsuario {
    font-size: 20px;
    color: #ffffff;
}
body .barraNavegacion .contenedorIconos{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body .barraNavegacion .contenedorIconos .contenedorIconoSalir {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
body .barraNavegacion .contenedorIconos .contenedorIconoNuevoUsuario {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*SECCION DEL CONTENIDO PRINCIPAL*/
body .contenedorPrincipal {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
body .contenedorPrincipal .descripcionPagina{
    width: 100vw;
    height: 10vh;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .descripcionPagina .contenedorInfoSeccion{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .descripcionPagina .contenedorInfoSeccion .infoSeccion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
}
body .contenedorPrincipal .seccionRendimientoJuego{
    width: 100vw;
    height: 100vh;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
body .contenedorPrincipal .seccionRendimientoJuego .infoSeccion{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #ffffff; 
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorLista {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorLista .listaRendimientoJuego{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: circle;
    color: white;
    font-size: 16px;
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorLista .listaRendimientoJuego li{
    margin-bottom: 5px;
    line-height: 1.5;
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorGraficosRendimiento{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorGraficosRendimiento .contenedorGrafico{
    width: 45vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .seccionRendimientoJuego .contenedorGraficosRendimiento .contenedorGrafico canvas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
}
body .contenedorPrincipal .seccionInformacionDemografica{
    width: 100vw;
    height: 100vh;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px red;
}
body .contenedorPrincipal .seccionInformacionDemografica .contenedorGraficosInformacionDemografica{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body .contenedorPrincipal .seccionInformacionDemografica .contenedorGraficosInformacionDemografica .contenedorGrafico{
    width: 45vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .seccionInformacionDemografica .contenedorGraficosInformacionDemografica .contenedorGrafico canvas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
}
