@import url(estilosFormularioInicioSesion.css);
@import url(estilosFormularioRegistro.css);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'IMFellDWPica';
    src: url('../recursos/Letra_im_fell_dw_pica/IMFellDWPica-Regular.ttf');
  }
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #023E73;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'IMFellDWPica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    overflow-x: hidden;
}
body .contenedorPrincipal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
body .contenedorPrincipal .video-background {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    object-fit: cover;
}
/* Estilos de la barra de navegación */
body .contenedorPrincipal .barraNavegacion {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
body .contenedorPrincipal .barraNavegacion .contenedorLista {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body .contenedorPrincipal .barraNavegacion .contenedorLista .opcionesNavegacion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
body .contenedorPrincipal .barraNavegacion .contenedorLista .opcionesNavegacion li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
body .contenedorPrincipal .barraNavegacion .contenedorLista .opcionesNavegacion li a.active {
    background-color: #296CA6;
    color: white;
}

body .contenedorPrincipal .barraNavegacion .contenedorLista .opcionesNavegacion li a.active::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #296CA6;
}
/* SECCION HOME */
body .contenedorPrincipal .home {
    width: 100%;
    height: 80%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}
body .contenedorPrincipal .home .titulo {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: white;
}
body .contenedorPrincipal .home .presentacion {
    width: 40%;
    height: 30%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
body .contenedorPrincipal .home .contenedorBotonesHome {
    width: 40%;
    height: 40%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar {
    width: 20%;
    height: 60%;
    padding: 6px 6px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging:hover,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging:active,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging:before,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar:before,
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging::after,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging:before,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar:before {
  top: -3px;
  left: -3px;
  border-radius: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
body .contenedorPrincipal .home .contenedorBotonesHome .btnLoging::after,
body .contenedorPrincipal .home .contenedorBotonesHome .btnRegistrar::after {
  bottom: -3px;
  right: -3px;
  border-radius: 40px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
body .contenedorPrincipal .home  .contenedorScrollIcon {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
body .contenedorPrincipal .home  .contenedorScrollIcon .scrollIcon {
    object-fit: contain;
    width: 80%;
    height: 80%;
}
body .contenedorPrincipal .home .contenedorMensajeScroll { 
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
body .contenedorPrincipal .home .mensajeScroll {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

